ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 0px;
  flex: 0;
}

.left-partition {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-partition {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.top {
  flex: none;
  width: fit-content;
  height: fit-content;
}

.middle {
  flex: none;
  width: fit-content;
  height: fit-content;
  padding-bottom: 30px;
}

.bottom {
  flex: none;
  width: fit-content;
  height: fit-content;
}

.background-image {
  height: 1000px;
  max-width: 100%;
  object-fit: cover;
}

.odin-logo {
  position: absolute;
}

.form-flex-box-container {
  display: flex;
  flex-direction: row;
}

.form-right {
  flex: auto;
  padding-left: 20px;
}

.form-left {
  flex: auto;
}
